# Properly detect languages on Github.
*.gd linguist-language=GDScript

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# The above only works properly for Git 2.10+, so for older versions
# we need to manually list the binary files we don't want modified.

# audio
*.mp3 binary
*.ogg binary
*.flac binary
*.aac binary

# image
*.hdr binary
*.png binary
*.jpg binary
*.jpeg binary

# video
*.mp4 binary

# model
*.obj binary
*.fbx binary
*.dts binary
*.blend binary
